@mixin completely-centered()
{
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin colorize-svg($color)
{
    svg
    {
        g, path
        {
            fill: $color;
        }
    }
}